@import url(./__button/header__button.css);
@import url(./__button/_disabled/header__button_disabled.css);

.header {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  max-height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 200px;
    max-height: 600px;
  }
}